<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511886037726-qa16i6ef1lf4tjcvumfcogjb48rnsf71.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511886037726-qa16i6ef1lf4tjcvumfcogjb48rnsf71</string>
	<key>API_KEY</key>
	<string>AIzaSyDGaGQqWitUFWjrCLIczEZNFYuqLScB1DU</string>
	<key>GCM_SENDER_ID</key>
	<string>511886037726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.instapay.beansInstapay</string>
	<key>PROJECT_ID</key>
	<string>gorilla-beans</string>
	<key>STORAGE_BUCKET</key>
	<string>gorilla-beans.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511886037726:ios:8bd34294aa5340f56f284f</string>
</dict>
</plist>